<div>
	<p>welcone to the Timer application thar allows you to set multiple,shared device timers</p >
	<p>Time app lets you:</p >
	<ul><li>Set multiple times</li><li>share thers timers across multiple devices</li><li>Receive named alerts when a timer has expired</li><li>Over time indication so you know how bumt you food is</li></ul>
</div>
<div><button id="author">Author</button>
<span id="authorspan"></span></div>
<div><button id="course">Course</button>
<span id="coursespan"></span></div>

<script>
	$('#author').click(function(){
		$('#authorspan').html('Program written by Ao Cai');
	});
	$('#course').click(function(){
		$('#coursespan').html('Program written for CSE270e,Winter term 2017.');
	});
	
</script>
