<div>
	<p>welcone to the Timer application thar allows you to set multiple,shared device timers</p >
	<p>Time app lets you:</p >
	<ul><li>Set multiple times</li><li>share thers timers across multiple devices</li><li>Receive named alerts when a timer has expired</li><li>Over time indication so you know how bumt you food is</li></ul>
</div>
