<div>welcome <input id="usernameget" value="{{loginid.loginid}}" /></div>
<p id="online">Online Users:</p>
<div class="col-md-4 " id="bg0"  >
	<div class="cen">
	<p>Timer name</p>
	<form id="timer0" name="timer0">
		<input id="name" type="text" value="{{timerName.one}}">
		<div><input type="text"  value="0" class="short" name="hours"><input  class="short" name="minutes" value="00">
		<input  value="00" class="short" name="seconds"></div>
		<div>Done at:<span id="doneTime0" ></span></div>
		<div id="ini0"><button id="btn0" type="button" >Start</button></div>
		<div id="then0"><button id="resume0"type="button" >Resume</button><button type="button" id="reset0" >Reset</button></div>
	</form>
	</div>
</div>
<div class="col-md-4 bg" id="bg1" >
	<div class="cen">
	<p>Timer name</p>
	<form id="timer1" name="timer1">
		<input id="name" type="text" value="{{timerName.two}}">
		<div><input type="text"  value="0" class="short" name="hours"><input  class="short" name="minutes" value="00">
		<input  value="00" class="short" name="seconds"></div>
		<div>Done at:<span id="doneTime1" ></span></div>
		<div id="ini1"><button id="btn1" type="button">Start</button></div>
		<div id="then1"><button id="resume1" type="button">Resume</button><button type="button"id="reset1" >Reset</button></div>
	</form>
	</div>
</div>
<div class="col-md-4 bg" id="bg2" >
	<div class="cen">
	<p>Timer name</p>
	<form id="timer2" name="timer2">
		<input id="name" type="text" value="{{timerName.three}}">
		<div><input type="text"  value="0" class="short" name="hours"><input  class="short" name="minutes" value="00">
		<input  value="00" class="short" name="seconds"></div>
		<div>Done at:<span id="doneTime2" ></span></div>
		<div id="ini2"><button id="btn2" type="button">Start</button></div>
		<div id="then2"><button id="resume2" type="button">Resume</button><button id="reset2" type="button" >Reset</button></div>
	</form>
	</div>
</div>

<div id="changeMain">
	<p>Change State(through REST POST API)</p>
	<form>
		<select id="changeNum"><option>0</options><option>1</options><option>2</options></select>
		State:<input id="stateChange" />
		Timer name:<input id="nameChange"/>
		Done time:<input id="donetimeChange"/>
	</form>
	<button id="change">Change</button>
</div>

<script>
var username=$('#usernameget').val();
var socket = io.connect('localhost:3640');
socket.emit('login', {username: username}, function (data) {
  	console.log(data);
});
socket.on('login', function(data){
	var p = document.getElementById("online");
	online.innerHTML = "Online User:" + data.onlineCount;
})
socket.on('logout', function(data){
	var p = document.getElementById("online");
	online.innerHTML = "Online User:" + data.onlineCount;
})
socket.on('changeComplete', function(obj){
	console.log("ok");
	var timerName = obj.timerName;
	var num = obj.timerNum;
	var str = "timer" + num;
	var targ = document.getElementById(str);
	targ.childNodes[1].value = timerName;
})
var lout = document.getElementById("#lout") || null;
if(lout != null){
	lout.onclick = function(){
		socket.emit("disconnect", function(data){
			console.log(data);
		})
		socket.disconnect();
	}
}
$(document).ready(function(){
	var change = document.getElementById("change");
	change.onclick = function(){
		var timerNum = document.getElementById("changeNum").value*1;
		var state = document.getElementById("stateChange").value;
		var timerName = document.getElementById("nameChange").value;
		var doneTime = document.getElementById("donetimeChange").value;
		var data = {state: state, timerName: timerName, doneTime: doneTime, timerNum: timerNum};
		console.log(data);
		socket.emit("change", data, function(data){
			console.log(data);
		})
	}
})
</script>
